<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Userseite</title>
</head>
<body>
<h1>Hallo <span th:text="${username}">Otto</span></h1>
<p>Diese Seite ist nur für Personen sichtbar, die eingeloggt sind.</p>
<ul>
    <li><a href="/intranet">Intranet</a></li>
    <li><a href="/intranet/manager">Manager</a></li>
    <li><a href="/intranet/supervisor">Supervisor</a></li>
    <li><a href="/admin">Admin</a></li>
</ul>
<hr>

<a href="/login">Login</a>
<a href="/logout">Logout</a>
</body>
</html>